@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

:root {
  --width: 300px;
  --img-height: 300px;
  --primary-color: #0c0b18;
}

body {
  background-color: var(--primary-color);
  color: white;
}