/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css"; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --width: 300px;
  --img-height: 300px;
  --primary-color: #0c0b18;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1em !important;
  background-color: var(--primary-color);
  color: white;
}
