/* Home Page */
.homePage {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding-left: 10%;
}

.homePage > .popular {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.homePage > .popular > div {
  padding-right: 5rem;
  position: relative;
}

.popular > div > button {
  right: 5rem;
  position: absolute;
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  top: 3.5rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.promotedCards {
  margin-top: -5rem;
}

/* Auth Page */
.auth {
  color: white;
  display: grid;
  place-items: center;
}
