/* Home Page */

.homePage {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding-left: 10%;

  .popular {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}

.homePage > .popular > div {
  padding-right: 5rem;
  position: relative;
}

.popular > div > button {
  right: 5rem;
  position: absolute;
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  top: 3.5rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.promotedCards {
  margin-top: -5rem;
}

/* Auth Page */

.auth {
  color: white;
  display: grid;
  place-items: center;
  margin: 4rem 0 4rem 0;
}

.auth .sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth .sign-in > label {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.auth .sign-in > label,
.auth .sign-in > p {
  opacity: 0.7;
  font-size: 0.9rem;
}

.auth .sign-in > label > span {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.auth .sign-in .sign-in-wallet,
.options .sign-in-wallet,
.options .sign-in-wallet:hover {
  color: white;
  display: grid;
  place-items: center;
  background-color: #5100ff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.auth .sign-in .sign-in-wallet {
  width: calc(var(--width) - 30px);
  height: 40px;
}

.auth .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 2rem;
}

.auth .heading > h1 {
  font-weight: bolder;
  cursor: pointer;
  transition: color 200ms ease-in;
}

.auth .heading .block {
  position: absolute;
  height: 5rem;
  width: 2rem;
  background-color: #5100ff;
  z-index: -1;
  top: -10px;
  left: -15px;
}

/* MarketPlace Page */

.marketplace {
  position: relative;
  margin: 5rem 2.5rem 0 5rem;
}

.marketplace .block {
  position: absolute;
  height: 6rem;
  width: 2.2rem;
  background-color: #5100ff;
  z-index: -1;
  top: -15px;
  left: -15px;
}

.marketplace h1 {
  font-size: calc(2rem + 1vw);
  font-weight: 700;
}

.marketplace .marketplace-content {
  display: flex;
  justify-content: space-between;
}
