.content {
  margin-top: 8rem;
  background-image: url("./homepagedesign.webp");
  background-size: 600px;
  background-position: right;
  background-repeat: no-repeat;
}

.content > p {
  font-weight: 400;
  opacity: 0.8;
}

.content .heading {
  position: relative;
}

.content .heading > h1 {
  font-size: 4rem;
}

.content .heading .block {
  position: absolute;
  left: -1rem;
  top: -0.2rem;
  height: 11rem;
  width: 2.5rem;
  background-color: #5100ff;
  z-index: -1;
}

.content > h3 {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.content > .trending > label {
  font-weight: 500;
}

.content > .btns {
  margin-top: 1rem;
  width: 18rem;
  display: flex;
  justify-content: space-between;
}

.content > .btns a {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 8rem;
  font-weight: 600;
  color: white;
  background-color: #5100ff;
  text-decoration: none;
}

.homeImage {
}
