.accepted {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.accepted + div {
  display: flex;
  gap: 0.6rem;
  width: 8rem;
}

.accepted + div > div {
  background-position: center;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}
